In [4]:
#TASK - 1
import numpy as np
import pandas as pd
np.random.seed(40)
data = np.random.randn(4,4)  # 4 features and 4 observations
df = pd.DataFrame(data, columns = ['Feature 1', 'Feature 2', 'Feature 3', 'Feaature 4'])
print(df)

   Feature 1  Feature 2  Feature 3  Feaature 4
0  -0.607548  -0.126136  -0.684606    0.928715
1  -1.844401  -0.467002   2.292490    0.488810
2   0.710267   1.055534   0.054073    0.257953
3   0.588282   0.885244  -1.017007   -0.133693

In [5]:
#TASK - 2
df = df.rename(columns = {'Feature 1': 'Random value 1',
                          'Feature 2': 'Random value 2',
                          'Feature 3': 'Random value 3',
                          'Feature 4': 'Random value 4',})
print(df)

   Random value 1  Random value 2  Random value 3  Feaature 4
0       -0.607548       -0.126136       -0.684606    0.928715
1       -1.844401       -0.467002        2.292490    0.488810
2        0.710267        1.055534        0.054073    0.257953
3        0.588282        0.885244       -1.017007   -0.133693

In [6]:
#Task - 3
#calculate descriptive statistics
statistics = df.describe()
print(statistics)

       Random value 1  Random value 2  Random value 3  Feaature 4
count        4.000000        4.000000        4.000000    4.000000
mean        -0.288350        0.336910        0.161238    0.385446
std          1.195673        0.747837        1.489679    0.444066
min         -1.844401       -0.467002       -1.017007   -0.133693
25%         -0.916761       -0.211353       -0.767707    0.160042
50%         -0.009633        0.379554       -0.315267    0.373382
75%          0.618778        0.927817        0.613677    0.598786
max          0.710267        1.055534        2.292490    0.928715

In [7]:
#TASK - 4
#check for null values
null_values = df.isnull().sum()
print("Null Values:\n",null_values)
#Data type of columns
column_types = df.dtypes
print("\nData types:\n", column_types)

Null Values:
 Random value 1    0
Random value 2    0
Random value 3    0
Feaature 4        0
dtype: int64

Data types:
 Random value 1    float64
Random value 2    float64
Random value 3    float64
Feaature 4        float64
dtype: object

In [8]:
#Task - 5
#using location method
columns_loc = df.loc[:, ['Random value 2', 'Random value 3']]
print("Columns using loc:\n", columns_loc)
#using index location method
columns_iloc = df.iloc[:, [1,2]]
print("\nColumns using iloc:\n", columns_iloc)

Columns using loc:
    Random value 2  Random value 3
0       -0.126136       -0.684606
1       -0.467002        2.292490
2        1.055534        0.054073
3        0.885244       -1.017007

Columns using iloc:
    Random value 2  Random value 3
0       -0.126136       -0.684606
1       -0.467002        2.292490
2        1.055534        0.054073
3        0.885244       -1.017007